.side-panel-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.zones-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensure the table occupies the whole width */
}

.zones-table th,
.zones-table td {
    padding: 8px;
    border: 1px solid #ddd;
}

.zones-table th {
    background-color: #f2f2f2;
}

.zones-table th:first-child,
.zones-table td:first-child {
    text-align: left;
    width: 70%; /* Set width for the first column */
    border-right: none; /* Remove the vertical line */
}

.zones-table th:last-child,
.zones-table td:last-child {
    text-align: right;
    width: 30%; /* Set width for the second column */
    border-left: none;
}

.zone-name {
    text-align: left;
}

.zone-actions {
    text-align: right;
}
.zone-actions button {
    margin: 0px;
    width: 45px;
}
